@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-green: #357960;
  --color-primary-red: oklch(0.6 0.25 27);
  --color-primary-red-foreground: oklch(0.985 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  background: #ffffff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem; 
    max-width: var(--container-max-width-sm);
    


    @media (min-width: 640px) {
      max-width: var(--container-max-width-sm);
      padding-left: var(--container-padding-sm);
      padding-right: var(--container-padding-sm);
    }

    @media (min-width: 768px) {
      max-width: var(--container-max-width-md);
      padding-left: var(--container-padding-md);
      padding-right: var(--container-padding-md);
    }

    @media (min-width: 1024px) {
      max-width: var(--container-max-width-lg);
      padding-left: var(--container-padding-lg);
      padding-right: var(--container-padding-lg);
    }

    @media (min-width: 1280px) {
      max-width: var(--container-max-width-xl);
      padding-left: var(--container-padding-xl);
      padding-right: var(--container-padding-xl);
    }

    @media (min-width: 1536px) {
      max-width: var(--container-max-width-2xl);
      padding-left: var(--container-padding-2xl);
      padding-right: var(--container-padding-2xl);
    }
  }
}